<div [@slideDown]>

<div class="home">
    <header>
      <h1>Abhinav Kumar Jha</h1>
      <h2>Computer Science and Engineering Graduate (2019-23)</h2>
    </header>
    
    <section class="intro">
      <p>Welcome to my portfolio website. I'm a quick learner and passionate about software development.</p>
      <p>During my engineering, I've gained expertise in MEAN stack development, C++, data structures, algorithms, and other CS subject.</p>
    </section>
  
    <section class="skills">
      <h3>Skills</h3>
      <ul>
        <li>MEAN Stack Development</li>
        <li>C++, Data Structures, Algorithms</li>
        <li>Java, JavaScript/Typescript,.NET core</li>
        <li>SQL, MongoDB</li>
        <li>Git/GitHub</li>
      </ul>
      <h5>
        <li><a href="https://drive.google.com/file/d/1ZncLAZohmZXuu76ib-f_v6_Kjj3xdAeL/view?usp=sharing"> My Resume </a></li>

      </h5>
    </section>
  
    
    
  </div>
  </div>